body{
    background-color: black;
    font-family: 'Volkhov', serif;
    color:white;
}

h1, h2, h3 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
    color: yellow;
}

.container{
    padding:4vw;
}

a {
    color:#ffff80;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

p {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0s forwards;
}
